apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-config
  namespace: jenkins
data:
  AWS_REGION: "us-west-1"
  ECR_REGISTRY: "371670420772.dkr.ecr.us-west-1.amazonaws.com"
  ECR_REPOSITORY: "my-app-repo"
  EKS_CLUSTER_NAME: "dev-CP-EKS-CLUSTER"
